body {
    margin: 0;
    padding: 0;
    transition: opacity ease-in .2s;
}
body.show-app {
    opacity: 1 !important;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
.header-app {
    background: #fff;
    border-color: rgba(0,0,0,0.14);
    color: rgba(0,0,0,0.54);
    fill: rgba(0,0,0,0.54);
    display: flex;
    align-items: center;
    border-bottom: solid 1px #DBDBDB;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 64px;
    z-index: 60;
}
.logo {
    margin-left: 33px;
}
.logo img {
    height: 27px;
}
.header-app.is-scrolled {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}
.buttons-aside {
    margin-left: auto;
}
#button-toggle-search {
    border: none;
    background: none;
    padding: 20px;
}
#button-toggle-search:hover,
#button-toggle-search:focus {
    cursor: pointer;
    outline: none;
}
.content-label {
    color: rgba(0,0,0,0.54);
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 14px 0;
}
#main {
    min-height: 100%;
    padding: 97px 295px 48px 33px;

}
.search-aside {
    width: 256px;
    background: #fff;
    fill: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    border-left: 1px solid #DBDBDB;
    z-index: 65;
}
@media (max-width: 950px) {
    #main {
        padding-right: 33px;
    }
    #main:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(33,33,33,.5);
        z-index: 65;
        display: none;
    }
    .search-aside {
        transform: translateX(257px);
        transition: transform ease-out .2s;
    }
    .search-is-open #main:before {
       display: block;
    }
    .search-is-open .search-aside {
        -webkit-box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12);
        box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2), 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12);
        transform: translateX(0px);
    }
}
.search-aside header {
    background: #fff;
    border-color: rgba(0,0,0,0.14);
    color: rgba(0,0,0,0.54);
    fill: rgba(0,0,0,0.54);
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
    height: 64px;
    position: relative;
    display: flex;
    padding: 0 20px;
}
.search-aside header .search-icon {
    margin-left: 24px;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
.has-scrollbar-v .header-app {
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
}
#search-input {
    font-size: 15px;
    padding: 4px 10px;
    width: 187px;
    border: none;
}
#search-input:focus {
    outline: none;
}
.search-aside .content {
    overflow-y: auto;
    padding: 20px 20px 0 24px;

}
.form-add-tag {
    display: flex;
    border: solid 1px #ebebeb;
    padding: 20px;
    flex-direction: column;
}
.form-add-tag .Select {
    margin-top: -8px;
}
.is-focused:not(.is-open) > .Select-control {
    border: none;
    box-shadow: none;
    border-bottom: solid 1px #3f51b5;
}

.form-add-tag .Select:focus {
    outline: none;
}
.form-add-tag .Select-placeholder {
    line-height: 35px;
    outline: none;
}
.form-add-tag .tags-add {
    margin-top: 2px;
}

.form-add-tag .container-form {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.form-add-tag .container-form .form-group {
    flex: 0 0 33.3%;
}
.form-add-tag .container-form .form-group .mdc-textfield {
    width: 95%;
}
@media (max-width: 800px) {
    .form-add-tag .container-form {
        flex-direction: column;
    }
    .form-add-tag .container-form .form-group {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }
}
.form-add-tag .container-form .form-group .mdc-textfield .mdc-textfield__input {
    width: 100%;
}
.form-add-tag .button-add-container {
    margin-top: 10px;
    display: flex;
}
.bookmarks-list {
    margin: 60px 0 0 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
}
.bookmarks-list:after {
     content: "";
     flex: 0 0 31.3%;
 }
.bookmarks-list li {
    list-style: none;
    flex: 0 0 31.3%;
}
@media (max-width: 1200px) {
    .bookmarks-list li {
        flex: 0 0 48%;
    }
}
@media (max-width: 1000px) {
    .bookmarks-list li {
        flex: 0 0 100%;
    }
}
.bookmarks-list li .bookmark-item {
    border-top: solid 1px #999;
    margin: 0 0 40px 0;

}
.bookmarks-list li .bookmark-item .title {
    color: rgba(0,0,0,0.87);
    font-weight: 500;
    margin: 12px 0 0 0;
}
.editable {
    position: relative;
    white-space: nowrap;
    padding-right: 20px;
}
.editable.title:empty:before {
    content: "Clique para inserir o título"
}
.editable.url:empty:before {
    content: "Clique para inserir a URL"
}
.editable:hover,
.editable:focus {
    cursor: pointer;
    outline: none;
}
.editable:hover:after {
    font-family: "Material Icons";
    content: "edit";
    color: #666;
    z-index: 99;
    position: absolute;
    right: -8px;
    top: -2px;
    background: #ebebeb;
    border-radius: 10px;
    font-size: 1em;
    padding: 4px;
}
.editable:focus {
    cursor: text;
    padding-right: 0;
}
.editable:focus:after {
    display: none;
    padding-right: 0;
}
.flex-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bookmarks-list li .bookmark-item .Select {
    display: block;
}
.bookmarks-list li .bookmark-item .url {
    color: rgba(0,0,0,0.54);
    margin: 2px 0;
}
.bookmark-item {
    position: relative;
}
.remove-bookmark:hover {
    background: #F95759;
}
.remove-bookmark {
    background: #ebebeb;
    color: #fff;
    border: none;
    font-size: 1em;
    padding: 3px;
    font-weight: 600;
    border-radius: 10px;
    right: 0;
    top: 8px;
    position: absolute;
}
.remove-bookmark:hover, .remove-bookmark:focus {
    cursor: pointer;
}

.tag-list-container  {
    margin: 5px 0;
}
.tag {
    padding: 4px 10px;
    display: inline-block;
    font-size: .8em;
    margin: 0 5px 5px 0;
    border-radius: 10px;
    border: solid 2px rgba(0,0,0,.0);
    color: #fff;
    opacity: .7;
}
.tag:hover, .tag:focus {
    cursor: pointer;
    border-color: rgba(0,0,0,.4);
    opacity: .85;
}
.tag:focus {
    outline: none;
}
.tag.selected {
    opacity: 1;
}
.Select-control {
    border-radius: 0;
    border: none;
    border-bottom: solid 1px #E0E0E0;
    outline: none;
}
.Select-control:hover {
    cursor: pointer;
}

.Select-placeholder {
    padding-left: 0;
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}
.Select--multi .Select-value {
    padding: 0;
    background: none;
    border: none;
    position: relative;
}
.Select--multi .Select-input {
    margin-left: 0;
}
.Select--multi .Select-value-label {
    padding: 0;
}
.Select--multi .Select-value-label .tag {
    padding-left: 21px;
    margin: 0;
}
.Select-input {
    margin-left: 0;
}
.Select-input > input {
    padding: 4px 0;
    height: 24px;
}
.Select-arrow-zone {
    padding-right: 0;
    width: 20px;
}
.Select--multi .Select-value-icon {
    padding: 0;
    position: absolute;
    left: 4px;
    top: 4px;
    height: 15px;
    width: 15px;
    border: none;
    background: none;
    line-height: normal;
    font-size: .9em;
    z-index: 1;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: rgba(0,0,0,.2);
    color: rgba(255,255,255,.7);
}
.Select-menu-outer {
    z-index: 2;
    border: none;
    border-radius: 0;
}
.Select-option {
    background: #ebebeb;
    font-size: .9em;
    border-radius: 0 !important;
}
.Select-option.is-selected,
.Select-option.is-focused{
    background: #ccc;
}

.Select--multi .Select-value-icon:hover {
    background: rgba(0,0,0,.4);
    color: #fff;
}
/* Material components */
.mdc-textfield--upgraded:not(.mdc-textfield--fullwidth):not(.mdc-textfield--box):not(.mdc-textfield--multiline) {
    height: 25px;
}